<% 
tags = Item.find(itemId).tags.distinct
tags.each do |tag|
%>
<div class="tag" data-tagid="<%= tag.id %>">
	<%= tag.tag %>
	<i class="fa fa-times delete-tag" aria-hidden="true"></i>
</div>
<% end %>