<script src="https://cdnjs.cloudflare.com/ajax/libs/nestedSortable/2.0.0/jquery.mjs.nestedSortable.js"></script>
<!-- <nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">CodeClarity</a>
		</div>
		<div class="user-area">
			<div class="user-info">
				<div class="user-photo"></div>
				<div class="user-name"></div>
			</div>
			<div class="user-menu">
				<ul class="menu">
					<li class="logout"></li>
				</ul>
			</div>
		</div>
	</div>
</nav> -->
<div class="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<h3>CodeClarity</h3>
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<h4>Tags</h4>
			</li>
			<!-- <li class="tags">
				<a href="#">Dummy tag</a>
			</li> -->
			<li class="tag-area">
				
			</li>
			<li class="sidebar-brand">
				<h4>Filters</h4>
			</li>
			
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Main content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="project-title" contenteditable="true">Project CodeClarity
				</div>
			</div>
			<div class="row">
				<div class="new-tree tree card col-md-12">
					<!-- <div id="fontSizeWrapper">
						<label for="fontSize">Tree Zoom</label>
						<input type="range" value="1" id="fontSize" step="0.05" min="1" max="1.5" />
					</div> -->					
					<ul class="tree" id="sortable">
						<li class="item root" data-itemid="0" id="0">
							<div class="root-fake-handler"></div>
							<ul class="children">
								<% if @itemsWithNoParent.length != 0 %> 
									<%= render 'item', itemId: 0 %>
								<% else %>
									<li class="item" id="item_<%= item.id %>">
										<div class="tree_label item-name first-item-placeholder" placeholder="Click to input your first item" contenteditable="true" data-name="name"></div>
									</li>
								<% end %>
							</ul>
						</li>
					</ul>
				</div>
				<div class="object-editor closed card col-md-5">
					<div class="close-sign">
						<i class="fa fa-times-circle" aria-hidden="true"></i>
					</div>
					<ul class="breadcrumb-onepage">
					</ul>
					<p>
						<span class="detail-title">ID:</span>
						<span class="item-id" data-name="id" data-itemid></span>
					</p>
					<p>
						<span class="detail-title">Name:</span>
						<span class="item-name" contenteditable="true" data-name="name" data-itemid></span>
					</p>
					<p>
						<span class="detail-title">Parent:</span>
						<span class="item-parent" data-name="parent_name" data-itemid></span>
					</p>
					<p>
						<span class="detail-title">Description:</span>
						<span class="item-desc" contenteditable="true" data-name="description" data-itemid></span>
					</p>
					<p>
						<span class="detail-title">Creator:</span>
						<span class="item-by" contenteditable="true" data-name="by_name" data-itemid></span>
					</p>
					<div>
						<span class="detail-title">Tags</span>
						<div class='tags'>
							<input placeholder='Add tag' type='text'>
						</div>
					</div>
				</div>
			</div>
			<div class="loader">
				<div class="cube-wrapper">
					<div class="cube-folding">
						<span class="leaf1"></span>
						<span class="leaf2"></span>
						<span class="leaf3"></span>
						<span class="leaf4"></span>
					</div>
					<span class="loading" data-name="Loading">Loading</span>
				</div>
			</div>
		</div>
		<div id="dialog-confirm" title="Delete item with children?">
			<p>
				<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Removing this item will also remove its children. Are you sure?</p>
		</div>
		<!-- <footer>
			<p>© 2016 Flashstarts, Inc.</p>
		</footer> -->
	</div>