// Place all the styles related to the onepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "font-awesome";

// Cube Loader variables
$size          : 35px;
$primary-color : #00b7f1;

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
 	   padding-left: 250px;
 	    &#sidebar-wrapper {
		    width: 250px;
		}
		&#page-content-wrapper {
		    position: absolute;
		    margin-right: -250px;
		}
 	}
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;

	div[contenteditable]:not(.first-item-placeholder):hover:after {
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		content: '  \f0c9';
		color: #ccc;
		cursor: move;
		margin-left: 5px;
	}

	[contenteditable]:hover, [contenteditable]:focus {
		background: #FFFFD3;
	}

	[contenteditable]:focus {
		padding: 5px;
		border: none;
		outline: none;
	}

	[contenteditable]:focus:after {
		content: '';
	}

	.switch-container {
		width: 280px;
		display: block;
		.switch {
		  position: relative;
		  display: inline-block;
		  vertical-align: top;
		  width: 95px;
		  height: 20px;
		  padding: 3px;
		  background-color: white;
		  border-radius: 18px;
		  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
		  cursor: pointer;
		  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
		  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
		  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
		  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
		}

		.switch-input {
		  position: absolute;
		  top: 0;
		  left: 0;
		  opacity: 0;
		}

		.switch-label {
		  position: relative;
		  display: block;
		  height: inherit;
		  font-size: 10px;
		  font-weight: normal;
		  text-transform: uppercase;
		  background: #eceeef;
		  border-radius: inherit;
		  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
		  -webkit-transition: 0.15s ease-out;
		  -moz-transition: 0.15s ease-out;
		  -o-transition: 0.15s ease-out;
		  transition: 0.15s ease-out;
		  -webkit-transition-property: opacity background;
		  -moz-transition-property: opacity background;
		  -o-transition-property: opacity background;
		  transition-property: opacity background;
		  &:before, &:after {
		    position: absolute;
		    top: 50%;
		    margin-top: -.5em;
		    line-height: 1;
		    -webkit-transition: inherit;
		    -moz-transition: inherit;
		    -o-transition: inherit;
		    transition: inherit;
		  }
		  &:before {
		    content: attr(data-off);
		    right: 11px;
		    color: #aaa;
		    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
		  }
		  &:after {
		    content: attr(data-on);
		    left: 11px;
		    color: white;
		    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
		    opacity: 0;
		  }
		}

		.switch-input:checked ~ .switch-label {
		  background: #47a8d8;
		  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
		  &:before {
		    opacity: 0;
		  }
		  &:after {
		    opacity: 1;
		  }
		}

		.switch-handle {
		  position: absolute;
		  top: 4px;
		  left: 4px;
		  width: 18px;
		  height: 18px;
		  background: white;
		  border-radius: 10px;
		  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
		  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
		  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
		  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
		  -webkit-transition: left 0.15s ease-out;
		  -moz-transition: left 0.15s ease-out;
		  -o-transition: left 0.15s ease-out;
		  transition: left 0.15s ease-out;
		  &:before {
		    content: '';
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin: -6px 0 0 -6px;
		    width: 12px;
		    height: 12px;
		    background: #f9f9f9;
		    border-radius: 6px;
		    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
		    background-image: -webkit-linear-gradient(top, #eeeeee, white);
		    background-image: -moz-linear-gradient(top, #eeeeee, white);
		    background-image: -o-linear-gradient(top, #eeeeee, white);
		    background-image: linear-gradient(to bottom, #eeeeee, white);
		  }
		}

		.switch-input:checked ~ .switch-handle {
		  left: 74px;
		  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
		}

		.switch-green > .switch-input:checked ~ .switch-label {
		  background: #4fb845;
		}
	}

    .breadcrumb-onepage{
		list-style: none; 
		overflow: hidden; 
	    padding-left: 0px;
		// font: 18px Helvetica, Arial, Sans-Serif;
		li{
			float: left;
			text-decoration: none; 
			text-align: center;
			padding: 10px 0 10px 30px;
			position: relative; 
			display: block;
			float: left;
			
			a{
				text-decoration: underline;
				&:after{
					content: " "; 
					display: block; 
					width: 0; 
					height: 0;
					position: absolute;
					left: 100%;
					z-index: 2; 
				}
				&:before { 
					content: ">"; 
					color:#000;
					display: block; 
					width: 100%; 
					height: 100%;
					position: absolute;
					margin-left: 1px;
					left: 70%;
					z-index: 1; 
				}
			}	
			&:first-child {
				padding-left: 0px;
			}
		}

	}
	
	.item-expander.glyphicon{ 
		margin-right: 5px;
		font-size: 12px;
	}

	.item-name{
		
		&.selected{
			// text-decoration: underline;
			font-weight: bold;
		}
	}

	.new-tree {
		body {
		  margin: 30px;
		  font-family: sans-serif;
		}

		#fontSizeWrapper {
		  font-size: 16px;
		}

		#fontSize {
		  width: 100px;
		  font-size: 1em;
		}

		.placeholder {
			outline: 1px dashed #4183C4;
		}
		/* ————————————————————–
		  Tree core styles
		*/

		.tree {
			margin: 1em;
			input {
		    	position: absolute;
			    clip: rect(0, 0, 0, 0);
			    ~ ul {
			    	display: none;
					padding-left: 0px;
					margin-top: -5px;
					margin-left: -1px;

			    }
		    	&:checked ~ ul {
		    		display: block;
		    	}
		  	}
		  	li {
			    line-height: 1.2;
			    position: relative;
			    padding: 0 0 1em 2em;
			    list-style: none;
			    label.expander {
				  	width: 1em;
				  	height: 1em;
				    background: #000;
				    color: #fff;
				    position: relative;
				    z-index: 100;
				    float: left;
				    margin: 0 1em 0 -3em;
				    width: 1em;
				    height: 1em;
				    border-radius: 1em;
				    
				    text-align: center;
				    line-height: .9em;
				    &:before{
				    	cursor: pointer;
				    	content: '+';
				    }
				    &:before:checked {
				    	cursor: pointer;
						content: '–';
					}
				}
				// &:hover > .mover{
				// 	display: inline-block;
				// }
				// > .mover{
				// 	display: none;
				// 	cursor: move;
				// 	color: #ccc;
				// }
			}
			ul li {
		    	padding: 1em 0 0 2em;
			}
			> li:last-child {
		    	padding-bottom: 0;
			}
		}

		/* ————————————————————–
		  Tree rows
		*/

		/* ————————————————————–
		  Tree labels
		*/

		.tree_label {
		  position: relative;
		  display: inline-block;
		  &:last-child:before{
		  	border-bottom: 1px solid #777;
		  }
		  	&.first-item-placeholder[contenteditable=true]:empty:before {
				content: attr(placeholder);
				display: block; /* For Firefox */
				font-weight: 300;
				color: #ccc;
				cursor: text;
			}

			&:not(.first-item-placeholder):before {
				position: absolute;
				top: 0;
				left: -2.5em;
				display: block;
				height: 0.5em;
				width: 1.8em;
				border-bottom: 1px solid #777;
				border-left: 1px solid #777;
				border-radius: 0 0 0 .3em;
				content: '';
			}
		}

		/* ————————————————————–
		  Tree expanded icon
		*/

		:checked ~ label.expander:before {
		  content: '–' !important;
		}

		:checked ~ .tree_label:after{
			position: absolute;
			bottom: 3px;
			left: -1.5em;
			display: block;
			height: 0.5em;
			width: 1em;
			border-top: 1px solid #777;
			border-right: 1px solid #777;
			border-radius: 0 .3em 0 0;
			content: '';
		}
		/* ————————————————————–
		  Tree branches
		*/

		.tree li:before {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: -.5em;
		  display: block;
		  width: 0;
		  border-left: 1px solid #777;
		  content: "";
		}

		.tree_label{
			
		}

		div.tree_label{
			&:before {
				border-bottom: 0;
			}
			&:after{
				border-bottom: 0;
			}
		}

		.tree {
		  li:last-child:before {
		    height: 1em;
		    bottom: auto;
		  }
		  > li:last-child:before {
		    display: none;
		  }
		}

		.tree_custom {
		  display: block;
		  background: #eee;
		  padding: 1em;
		  border-radius: 0.3em;
		}
	}
	// end tree

	.object-editor{
		border-left: 1px solid #999;
		&.closed{
			display: none;
		}
	}

	.loader{
	    bottom: 75px;
	    position: fixed;
	    right: 40px;
		display: none;

	    &.enabled{
	    	display: block;
	    }
	    
		//cube only
		.cube-folding{
		  width: $size;
		  height: $size;
		  display: inline-block;
		  @include transform(rotate(45deg));
		  font-size: 0;
		  span{
		    position: relative;
		    width: $size/2;
		    height: $size/2;
		    @include transform(scale(1.1));
		    display: inline-block;
		    &::before{
		      content: '';
		      background-color: $primary-color;
		      position: absolute;
		      left: 0;
		      top: 0;
		      display: block;
		      width: $size/2;
		      height: $size/2;
		      -moz-transform-origin: 100% 100%;
		      -ms-transform-origin: 100% 100%;
		      -webkit-transform-origin: 100% 100%;
		      transform-origin: 100% 100%;
		      @include animation(folding 2.50s infinite linear both);
		    }
		  }
		  .leaf2{
		    @include transform(rotateZ(90deg) scale(1.1));
		    &::before{
		      @include animation-delay(.30s);
		      background-color: darken($primary-color, 5%);
		    }
		  }
		  .leaf3{
		    @include transform(rotateZ(270deg) scale(1.1) );
		    &::before{
		      @include animation-delay(.90s);
		      background-color: darken($primary-color, 5%);
		    }
		  }
		  .leaf4{
				@include transform(rotateZ(180deg) scale(1.1));
				&::before{
				  @include animation-delay(.60s);
				  background-color: darken($primary-color, 10%);
				}
		  	}
		}

		//animation
		@include keyframes(folding, folding animation) {
		  0%, 10%{
		    @include transform(perspective(140px) rotateX(-180deg));
		    @include opacity(0);
		  }
		  25%, 75%{
		    @include transform(perspective(140px) rotateX(0deg));
		    @include opacity(1);
		  }
		  90%, 100%{
		    @include transform(perspective(140px) rotateY(180deg)); 
		    @include opacity(0);
		  }
		}

		//with loading text and shadow
		.cube-wrapper{  
			margin-top: -$size;
			margin-left: -$size;
			width: $size*2;
			height: $size*2;
			text-align: center;
			//shadow
			&:after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -20px;
				margin: auto;
				width: $size*1.8;
				height: 6px;
				margin-left: -$size;
				background-color: rgba(black,.1);
				@include filter(blur(2px));
				@include border-radius(100%);
				z-index: 1;
				@include animation(shadow 0.5s ease infinite alternate);
			}
			.loading{
				font-size: 12px;
				letter-spacing: 0.1em;
				display: block;
				color: $primary-color;
				position: relative;
				top: $size/2;
				z-index: 2;
				@include animation(text 0.5s ease infinite alternate);
			}
		}
		@include keyframes(text, text animation) {
			100%{
				top: ($size/2) + 10;
			}
		}
		@include keyframes(shadow, shadow animation) {
			100%{
				bottom: -18px; 
				width: $size*2;
			}
		}
	}
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: #999999;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    // height: 65px;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    a {
      color: #fff;
      &:hover {
        color: #ccc;
        background: none;
      }
    }
    h3 {
    	color: #fff;
    }
  }
}

footer{
	position: fixed;
	bottom:0;
	width: 100%;
}


@media (min-width: 768px) {
  .wrapper {
    padding-left: 250px;
    &.toggled {
      padding-left: 0;
      #sidebar-wrapper {
	    width: 0;
	  }
	  #page-content-wrapper {
	    position: relative;
	    margin-right: 0;
	  }
    }
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}