// Place all the styles related to the onepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/dialog
 */

@import "compass/css3";
@import "font-awesome";

body{
	background-color: #eaecef !important;
}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
 	   padding-left: 250px;
 	    &#sidebar-wrapper {
		    width: 250px;
		}
		&#page-content-wrapper {
		    position: absolute;
		    margin-right: -250px;
		}
 	}
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgb(44, 46, 67);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    h3{
	  	color: #fff;
	  	margin: 30px 0px 35px 20px;
	  }
	.sidebar-nav {
	  // position: absolute;
	  top: 0;
	  width: 250px;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  li {
	    text-indent: 20px;
	    line-height: 40px;
	    a {
	      display: block;
	      text-decoration: none;
	      color: #999999;
	      &:hover {
	        text-decoration: none;
	        color: #fff;
	        background: rgba(255, 255, 255, 0.15);
	      }
	      &:active, &:focus {
	        text-decoration: none;
	      }
	    }
	  }
	  > .sidebar-brand {
	    // height: 65px;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 40px;
	    a {
	      color: #fff;
	      &:hover {
	        color: #ccc;
	        background: none;
	      }
	    }
	    h4,h2 {
	    	color: rgb(148, 149, 167);
	    }
	  }
	}
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;

	// div[contenteditable]:not(.first-item-placeholder):hover:after {
	// 	font-family: FontAwesome;
	// 	font-weight: normal;
	// 	font-style: normal;
	// 	// display: inline-block;
	// 	// content: '  \f0c9';
	// 	color: #ccc;
	// 	cursor: move;
	// 	margin-left: 5px;
	// }

	.title-menu{
		margin-top: 1em;
		.project-title{
		    font-size: 2em;
		}
		.dropdown{
			text-align: right;
			.dropdown-menu {
				.this{
					font-weight: bold;
				}
			}
		}
	}
	
	.tabs{
		.sublime-tabs {
			padding: 0;
			margin: 0;
			width: 100%;    
			overflow: hidden;
			margin-top: 10px;
			margin-bottom: -0.5em;

			
			&__tab {
				position: relative;
				display: inline-block;
				height: 29px;
			    min-width: 20px;
			    max-width: 200px;
			    padding: 0 10px 0 10px;
				z-index: 1;
			    background: #c4c4c4;
			    margin-left: -4px;
				border-right: 1px solid #aaa;
				box-shadow: 0px -1px 1px 0 #666;

				&.active {
					z-index: 2;
				    border-bottom: 1px solid rgb(233, 147, 73);
				    background: rgb(245, 245, 245);
					&:before, &:after {
					    background: inherit;
					}
				}

				&:hover{
					background: rgb(220, 220, 220);
					border-bottom: 1px solid rgb(233, 147, 73);
				}

				i{
					font-size: 0.8em;
					&:hover{
						cursor: pointer;
						color: #555;
					}
				}

		}


		&__link,
		&__link:visited {
			font-size: 12px;
			color: #111;
			text-decoration: none;
		    margin-top: 5px;

			display: inline-block;
			position: relative;
			line-height: 20px;

			&:hover {
				color: #555;
			}
			}
		}
	}

	.card {
		background-color: #fff;
	    box-shadow: 0px 2px 2px 2px #e1e1e1;
	    padding: 15px 25px 15px 25px;
    	margin: 0.5em 0 0.5em 0;
     //    margin: 10px;
	}

	[contenteditable]:hover, [contenteditable]:focus {
		// background: #FFFFD3;
		border-bottom: 1px solid #dedede;
		outline: none;
	}

	// [contenteditable]:focus {
	// 	padding: 5px;
	// 	border: none;
	// 	outline: none;
	// }

    .breadcrumb-onepage{
		list-style: none; 
		overflow: hidden; 
	    padding-left: 0px;
        border-bottom: 1px solid #ddd;
    	padding-bottom: 10px;
    	
		li{
			float: left;
		    text-decoration: none;
		    text-align: center;
		    padding: 0 10px 0 0;
		    position: relative;
		    display: block;
			
			a{
				color: rgb(233, 119, 73);
				cursor: auto;
				&:after{
					content: "\f105";
					color: rgb(233, 119, 73);
				    font: normal normal normal 14px/1 FontAwesome;
				    margin-left: 10px;
				    text-decoration: none;
				}
				&:hover{
					color: rgb(233, 147, 73);
					text-decoration: none;
				}
			}	
			&:first-child {
				padding-left: 0px;
			}
		}

	}
	
	.item-expander.glyphicon{ 
		margin-right: 5px;
		font-size: 12px;
	}

	.item-name{
		
		&.selected{
			// text-decoration: underline;
			font-weight: bold;
		}
	}

	.new-tree {
		min-height: 200px;
		display: none;
		
		&.active{
			display: block;
		}

		#fontSizeWrapper {
		  font-size: 16px;
		}

		#fontSize {
		  width: 100px;
		  font-size: 1em;
		}

		.placeholder {
			outline: 1px dashed #4183C4;
		}
		/* ————————————————————–
		  Tree core styles
		*/
		$tree-line-color: rgba(0, 188, 212, 0.6);

		.tree {
			margin: 1em;
			overflow: auto;
			padding: 0;
			input {
		    	position: absolute;
			    clip: rect(0, 0, 0, 0);
			    ~ ul {
			    	display: none;
					padding-left: 0px;
					margin-top: -5px;
					margin-left: -1px;

			    }
		    	&:checked ~ ul {
		    		display: block;
		    	}
		  	}
		  	li {
			    line-height: 1.2;
			    position: relative;
			    padding: 0 0 1em 2em;
			    list-style: none;
			    label.expander {
				  	background: #2196f3;
				    color: #fff;
				    position: relative;
				    z-index: 100;
				    float: left;
				    margin: 0 1em 0 -3em;
				    width: 1em;
				    height: 1em;
				    border-radius: 1em;
				    
				    text-align: center;
				    line-height: .9em;
				    &:before{
				    	cursor: pointer;
				    	content: '+';
				    }
				    &:before:checked {
				    	cursor: pointer;
						content: '–';
					}
				}
				&:hover {
					&.expanded {
						> div.tree_label:after{
							left: -2.65em;
						}
						> ul li:hover > div.tree_label {
							&:before{
								left: -3.35em !important;
							}
							&:after{
								left: -2.35em;
							}
						}
					}
					> .mover{
						display: inline-block;
						position: relative;
					}
					> .tree_label:before{
						left: -3.65em;
					}

					> input:checked ~ div.tree_label:after{
						left: -2.65em;
					}
				}

				> .mover{
					display: none;
					cursor: move;
					color: #aaa;
				}
			}
			ul li {
		    	padding: 1em 0 0 2em;
			}
			> li:last-child {
		    	padding-bottom: 0;
			}
		}

		/* ————————————————————–
		  Tree rows
		*/

		/* ————————————————————–
		  Tree labels
		*/

		.tree_label {
			position: relative;
			display: inline-block;
			&.selected-tag {
			    border-bottom: 4px solid rgba(233, 147, 73, 0.79);
			    margin-bottom: -2px;
			}

			&:last-child:before{
				border-bottom: 1px solid $tree-line-color;
			}
				&.first-item-placeholder[contenteditable=true]:empty:before {
				content: attr(placeholder);
				display: block; /* For Firefox */
				font-weight: 300;
				color: #ccc;
				cursor: text;
			}

			&:not(.first-item-placeholder):before {
				position: absolute;
				top: 0;
				left: -2.5em;
				display: block;
				height: 0.5em;
				width: 1.8em;
				border-bottom: 1px solid $tree-line-color;
				border-left: 1px solid $tree-line-color;
				border-radius: 0 0 0 .3em;
				content: '';
			}
		}

		/* ————————————————————–
		  Tree expanded icon
		*/

		:checked ~ label.expander:before {
		  content: '–' !important;
		}

		:checked ~ .tree_label{
			&:after{
				position: absolute;
				bottom: 3px;
				left: -1.5em;
				display: block;
				height: 0.5em;
				width: 1em;
				border-top: 1px solid $tree-line-color;
				border-right: 1px solid $tree-line-color;
				border-radius: 0 .3em 0 0;
				content: '';
			}
			&:focus:after{
				height: 1.2em;
			}
		}

		/* ————————————————————–
		  Tree branches
		*/

		.tree li:before {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: -.5em;
		  display: block;
		  width: 0;
		  border-left: 1px solid $tree-line-color;
		  content: "";
		}

		.tree_label{
			
		}

		div.tree_label{
			&:before {
				border-bottom: 0;
			}
			&:after{
				border-bottom: 0;
			}
		}

		.tree {
		  li:last-child:before {
		    height: 1em;
		    bottom: auto;
		  }
		  > li:last-child:before {
		    display: none;
		  }
		}

		.tree_custom {
		  display: block;
		  background: #eee;
		  padding: 1em;
		  border-radius: 0.3em;
		}
	}
	// end tree

	.object-editor{
		z-index: 100;
	    position: absolute;
        right: 2em;
    	top: 7em;
	    background-color: #efefef;

		&.closed{
			display: none;
		}
		.close-sign{
			cursor: pointer;
		    position: absolute;
		    right: -8px;
		    top: -8px;
		    font-size: 24px;
		    color: #a94442;
		    background: #fff;
		    border-radius: 50%;
		    height: 17px;
		    width: 20px;
		    i{
	    	    position: absolute;
    			top: -2px;
		    }
		}

		span{
			&.detail-title{
				font-weight: bold;
				width: 35%;
	    		display: inline-block;
	    		// overflow: hidden;
			}
			&[contenteditable=true]{
			    width: 60%;
	    		display: inline-block;
			}

		}
	}

	// Cube Loader variables
	$size          : 35px;
	$primary-color : #00b7f1;

	.loader{
	    bottom: 75px;
	    position: fixed;
	    right: 40px;
		display: none;

	    &.enabled{
	    	display: block;
	    }
	    
		//cube only
		.cube-folding{
		  width: $size;
		  height: $size;
		  display: inline-block;
		  @include transform(rotate(45deg));
		  font-size: 0;
		  span{
		    position: relative;
		    width: $size/2;
		    height: $size/2;
		    @include transform(scale(1.1));
		    display: inline-block;
		    &::before{
		      content: '';
		      background-color: $primary-color;
		      position: absolute;
		      left: 0;
		      top: 0;
		      display: block;
		      width: $size/2;
		      height: $size/2;
		      -moz-transform-origin: 100% 100%;
		      -ms-transform-origin: 100% 100%;
		      -webkit-transform-origin: 100% 100%;
		      transform-origin: 100% 100%;
		      @include animation(folding 2.50s infinite linear both);
		    }
		  }
		  .leaf2{
		    @include transform(rotateZ(90deg) scale(1.1));
		    &::before{
		      @include animation-delay(.30s);
		      background-color: darken($primary-color, 5%);
		    }
		  }
		  .leaf3{
		    @include transform(rotateZ(270deg) scale(1.1) );
		    &::before{
		      @include animation-delay(.90s);
		      background-color: darken($primary-color, 5%);
		    }
		  }
		  .leaf4{
				@include transform(rotateZ(180deg) scale(1.1));
				&::before{
				  @include animation-delay(.60s);
				  background-color: darken($primary-color, 10%);
				}
		  	}
		}

		//animation
		@include keyframes(folding, folding animation) {
		  0%, 10%{
		    @include transform(perspective(140px) rotateX(-180deg));
		    @include opacity(0);
		  }
		  25%, 75%{
		    @include transform(perspective(140px) rotateX(0deg));
		    @include opacity(1);
		  }
		  90%, 100%{
		    @include transform(perspective(140px) rotateY(180deg)); 
		    @include opacity(0);
		  }
		}

		//with loading text and shadow
		.cube-wrapper{  
			margin-top: -$size;
			margin-left: -$size;
			width: $size*2;
			height: $size*2;
			text-align: center;
			//shadow
			&:after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -20px;
				margin: auto;
				width: $size*1.8;
				height: 6px;
				margin-left: -$size;
				background-color: rgba(black,.1);
				@include filter(blur(2px));
				@include border-radius(100%);
				z-index: 1;
				@include animation(shadow 0.5s ease infinite alternate);
			}
			.loading{
				font-size: 12px;
				letter-spacing: 0.1em;
				display: block;
				color: $primary-color;
				position: relative;
				top: $size/2;
				z-index: 2;
				@include animation(text 0.5s ease infinite alternate);
			}
		}
		@include keyframes(text, text animation) {
			100%{
				top: ($size/2) + 10;
			}
		}
		@include keyframes(shadow, shadow animation) {
			100%{
				bottom: -18px; 
				width: $size*2;
			}
		}
	}
}


.tags {
    background-color: inherit;  // #efefef;
    width: 100%;
    height: auto;
    padding: 0.5em 0.5em 0 0;
    border-radius: 3px;
	
	&.sidebar{
		padding: 0.5em 0.5em 0 1.5em;
		.tag {
			background-color: inherit; 
			color: #e99349;
			border: 1px solid #e99349;
		}
	}

	input {
	    float: left;
	    background-color: inherit;
	    font-size: 1em;
	    outline: none;
	    border-top: 0;
	    border-right: 0;
	    border-left: 0;
	    border-bottom: 1px solid #dedede;
	    padding: 0.25em 0;
	    margin-bottom: 0.5em;
	    &:focus{
	    	outline: none;
	    }
	    &.tag-search{
	    	color: #fff;
	    }
	}
	
	.tag {
		display: block;
		float: left;
		background-color: #e99349;
		color: #fff;
		padding: 0.25em 0.5em;
		border-radius: 3px;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		cursor: pointer;
		&.highlight,:hover {
			color: #fff;
			border: none;
			&.delete{
				background-color: #e99349 !important;
				.delete-tag{
					display: inline-block;
				}
			}
		}
		
		.delete-tag{
			display: none;
			margin-left: 5px;
		}
	}
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

footer{
	position: fixed;
	bottom:0;
	width: 100%;
	p {
		padding-top: 10px;
		background: #fff;
		border-top: 1px solid #e5e5e5;
	    margin-bottom: 0px;
	}
}


@media (min-width: 768px) {
  .wrapper {
    padding-left: 250px;
    &.toggled {
      padding-left: 0;
      #sidebar-wrapper {
	    width: 0;
	  }
	  #page-content-wrapper {
	    position: relative;
	    margin-right: 0;
	  }
    }
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 0 20px 0 20px;
    position: relative;
  }
}