// Place all the styles related to the onepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/dialog
 */

@import "compass/css3";
@import "font-awesome";

// Cube Loader variables
$size          : 35px;
$primary-color : #00b7f1;

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
 	   padding-left: 250px;
 	    &#sidebar-wrapper {
		    width: 250px;
		}
		&#page-content-wrapper {
		    position: absolute;
		    margin-right: -250px;
		}
 	}
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;

	// div[contenteditable]:not(.first-item-placeholder):hover:after {
	// 	font-family: FontAwesome;
	// 	font-weight: normal;
	// 	font-style: normal;
	// 	// display: inline-block;
	// 	// content: '  \f0c9';
	// 	color: #ccc;
	// 	cursor: move;
	// 	margin-left: 5px;
	// }

	[contenteditable]:hover, [contenteditable]:focus {
		background: #FFFFD3;
	}

	[contenteditable]:focus {
		padding: 5px;
		border: none;
		outline: none;
	}

	[contenteditable]:focus:after {
		content: '';
	}

    .breadcrumb-onepage{
		list-style: none; 
		overflow: hidden; 
	    padding-left: 0px;
		// font: 18px Helvetica, Arial, Sans-Serif;
		li{
			float: left;
			text-decoration: none; 
			text-align: center;
			padding: 10px 10px 10px 15px;
			position: relative; 
			display: block;
			
			a{
				&:after{
					content: " "; 
					display: block; 
					width: 0; 
					height: 0;
					position: absolute;
					left: 100%;
					z-index: 2; 
				}
				&:before { 
					content: "\f105";
				    font: normal normal normal 14px/1 FontAwesome;
				    color: #000;
				    display: block;
				    width: 100%;
				    height: 100%;
				    top: 32%;
				    position: absolute;
				    margin-left: 1px;
				    left: 50%;
				    z-index: 1;
				}
			}	
			&:first-child {
				padding-left: 0px;
			}
		}

	}
	
	.item-expander.glyphicon{ 
		margin-right: 5px;
		font-size: 12px;
	}

	.item-name{
		
		&.selected{
			// text-decoration: underline;
			font-weight: bold;
		}
	}

	.new-tree {
		body {
		  margin: 30px;
		  font-family: sans-serif;
		}

		#fontSizeWrapper {
		  font-size: 16px;
		}

		#fontSize {
		  width: 100px;
		  font-size: 1em;
		}

		.placeholder {
			outline: 1px dashed #4183C4;
		}
		/* ————————————————————–
		  Tree core styles
		*/

		.tree {
			margin: 1em;
			input {
		    	position: absolute;
			    clip: rect(0, 0, 0, 0);
			    ~ ul {
			    	display: none;
					padding-left: 0px;
					margin-top: -5px;
					margin-left: -1px;

			    }
		    	&:checked ~ ul {
		    		display: block;
		    	}
		  	}
		  	li {
			    line-height: 1.2;
			    position: relative;
			    padding: 0 0 1em 2em;
			    list-style: none;
			    label.expander {
				  	background: #000;
				    color: #fff;
				    position: relative;
				    z-index: 100;
				    float: left;
				    margin: 0 1em 0 -3em;
				    width: 1em;
				    height: 1em;
				    border-radius: 1em;
				    
				    text-align: center;
				    line-height: .9em;
				    &:before{
				    	cursor: pointer;
				    	content: '+';
				    }
				    &:before:checked {
				    	cursor: pointer;
						content: '–';
					}
				}
				&:hover {
					&.expanded {
						> div.tree_label:after{
							left: -2.65em;
						}
						> ul li:hover > div.tree_label {
							&:before{
								left: -3.35em !important;
							}
							&:after{
								left: -2.35em;
							}
						}
					}
					> .mover{
						display: inline-block;
						position: relative;
					}
					> .tree_label:before{
						left: -3.65em;
					}

					> input:checked ~ div.tree_label:after{
						left: -2.65em;
					}
				}

				> .mover{
					display: none;
					cursor: move;
					color: #aaa;
				}
			}
			ul li {
		    	padding: 1em 0 0 2em;
			}
			> li:last-child {
		    	padding-bottom: 0;
			}
		}

		/* ————————————————————–
		  Tree rows
		*/

		/* ————————————————————–
		  Tree labels
		*/

		.tree_label {
		  position: relative;
		  display: inline-block;
		  &:last-child:before{
		  	border-bottom: 1px solid #777;
		  }
		  	&.first-item-placeholder[contenteditable=true]:empty:before {
				content: attr(placeholder);
				display: block; /* For Firefox */
				font-weight: 300;
				color: #ccc;
				cursor: text;
			}

			&:not(.first-item-placeholder):before {
				position: absolute;
				top: 0;
				left: -2.5em;
				display: block;
				height: 0.5em;
				width: 1.8em;
				border-bottom: 1px solid #777;
				border-left: 1px solid #777;
				border-radius: 0 0 0 .3em;
				content: '';
			}
		}

		/* ————————————————————–
		  Tree expanded icon
		*/

		:checked ~ label.expander:before {
		  content: '–' !important;
		}

		:checked ~ .tree_label{
			&:after{
				position: absolute;
				bottom: 3px;
				left: -1.5em;
				display: block;
				height: 0.5em;
				width: 1em;
				border-top: 1px solid #777;
				border-right: 1px solid #777;
				border-radius: 0 .3em 0 0;
				content: '';
			}
			&:focus:after{
				height: 1.2em;
			}
		}

		/* ————————————————————–
		  Tree branches
		*/

		.tree li:before {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: -.5em;
		  display: block;
		  width: 0;
		  border-left: 1px solid #777;
		  content: "";
		}

		.tree_label{
			
		}

		div.tree_label{
			&:before {
				border-bottom: 0;
			}
			&:after{
				border-bottom: 0;
			}
		}

		.tree {
		  li:last-child:before {
		    height: 1em;
		    bottom: auto;
		  }
		  > li:last-child:before {
		    display: none;
		  }
		}

		.tree_custom {
		  display: block;
		  background: #eee;
		  padding: 1em;
		  border-radius: 0.3em;
		}
	}
	// end tree

	.object-editor{
		border-left: 1px solid #999;
		&.closed{
			display: none;
		}
	}

	.loader{
	    bottom: 75px;
	    position: fixed;
	    right: 40px;
		display: none;

	    &.enabled{
	    	display: block;
	    }
	    
		//cube only
		.cube-folding{
		  width: $size;
		  height: $size;
		  display: inline-block;
		  @include transform(rotate(45deg));
		  font-size: 0;
		  span{
		    position: relative;
		    width: $size/2;
		    height: $size/2;
		    @include transform(scale(1.1));
		    display: inline-block;
		    &::before{
		      content: '';
		      background-color: $primary-color;
		      position: absolute;
		      left: 0;
		      top: 0;
		      display: block;
		      width: $size/2;
		      height: $size/2;
		      -moz-transform-origin: 100% 100%;
		      -ms-transform-origin: 100% 100%;
		      -webkit-transform-origin: 100% 100%;
		      transform-origin: 100% 100%;
		      @include animation(folding 2.50s infinite linear both);
		    }
		  }
		  .leaf2{
		    @include transform(rotateZ(90deg) scale(1.1));
		    &::before{
		      @include animation-delay(.30s);
		      background-color: darken($primary-color, 5%);
		    }
		  }
		  .leaf3{
		    @include transform(rotateZ(270deg) scale(1.1) );
		    &::before{
		      @include animation-delay(.90s);
		      background-color: darken($primary-color, 5%);
		    }
		  }
		  .leaf4{
				@include transform(rotateZ(180deg) scale(1.1));
				&::before{
				  @include animation-delay(.60s);
				  background-color: darken($primary-color, 10%);
				}
		  	}
		}

		//animation
		@include keyframes(folding, folding animation) {
		  0%, 10%{
		    @include transform(perspective(140px) rotateX(-180deg));
		    @include opacity(0);
		  }
		  25%, 75%{
		    @include transform(perspective(140px) rotateX(0deg));
		    @include opacity(1);
		  }
		  90%, 100%{
		    @include transform(perspective(140px) rotateY(180deg)); 
		    @include opacity(0);
		  }
		}

		//with loading text and shadow
		.cube-wrapper{  
			margin-top: -$size;
			margin-left: -$size;
			width: $size*2;
			height: $size*2;
			text-align: center;
			//shadow
			&:after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -20px;
				margin: auto;
				width: $size*1.8;
				height: 6px;
				margin-left: -$size;
				background-color: rgba(black,.1);
				@include filter(blur(2px));
				@include border-radius(100%);
				z-index: 1;
				@include animation(shadow 0.5s ease infinite alternate);
			}
			.loading{
				font-size: 12px;
				letter-spacing: 0.1em;
				display: block;
				color: $primary-color;
				position: relative;
				top: $size/2;
				z-index: 2;
				@include animation(text 0.5s ease infinite alternate);
			}
		}
		@include keyframes(text, text animation) {
			100%{
				top: ($size/2) + 10;
			}
		}
		@include keyframes(shadow, shadow animation) {
			100%{
				bottom: -18px; 
				width: $size*2;
			}
		}
	}
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: #999999;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    // height: 65px;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    a {
      color: #fff;
      &:hover {
        color: #ccc;
        background: none;
      }
    }
    h3 {
    	color: #fff;
    }
  }
}

footer{
	position: fixed;
	bottom:0;
	width: 100%;
	p {
		padding-top: 10px;
		background: #fff;
		border-top: 1px solid #e5e5e5;
	    margin-bottom: 0px;
	}
}


@media (min-width: 768px) {
  .wrapper {
    padding-left: 250px;
    &.toggled {
      padding-left: 0;
      #sidebar-wrapper {
	    width: 0;
	  }
	  #page-content-wrapper {
	    position: relative;
	    margin-right: 0;
	  }
    }
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}